<footer>
    <div class="container text-center">
        <p class="float-left">© 2019 Jaka Daneu s.p., All Rights Reserved</p>
        <ul class="float-right list-inline">
            <li class="list-inline-item"><a href="https://github.com/jalezi/travel-expenses_v4" target="_blank">GitHub Project</a></li>
            <li class="list-inline-item"><a href="https://github.com/jalezi/travel-expenses_v4/issues" target="_blank">Issues</a></li>
        </ul>
    </div>
</footer>
