{
  // "presets": [
  //   ["@babel/preset-env", {
  //     "useBuiltIns": "entry"
  //   }]
  // ],
  "plugins": [
      // ["transform-inline-environment-variables", {
      //     "include": [
      //       "NODE_ENV"
      //     ]
      //   }], 
      // "transform-node-env-inline"
  ]
}