{{!< layout}}

{{#if user}}
  {{> travelsHeader}}
  <hr />
{{else}}
  <h2>Login or Sign up
    <!-- <p class="lead">Neki Neki</p> -->
  </h2>
  <div class="row">
    <div class="col-xs-6 p-3 mx-auto">
      <div class="">
        <a class="btn btn-dark btn-lg" href="/login">
          Login
        </a>
      </div>
    </div>
    <div class="col-xs-6 p-3 mx-auto">
      <div class="">
        <a class="btn btn-outline-dark btn-lg" href="/signup">
          Sign up
        </a>
      </div>
    </div>
  </div>

{{/if}}
