{{!< layout}}

<div class="pb-2 mt-2 mb-4 border-bottom">
  <h3> {{{travel.description}}}
    <button class="btn btn-primary float-right" type="button" data-toggle="collapse" data-target="#updateTravelForm" aria-expanded="false" aria-controls="updateTravelForm">
    <i class="fas fa-pen"></i>Update
  </button></h3>
</div>

{{> travelUpdateForm }}
